

body{ 
    font-family: 'Montserrat', sans-serif;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(255, 255, 255) 11%, rgba(2,2,215,1) 48%, rgba(61,0,113,1) 100%);
}

#tituloDaPagina{

    
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#barraDePesquisarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder {
    color: red;
}
input {
    color: black;
}
